:root {
  --main-color:#edc055;
  --secondary-color:rgb(10,10,10);
  --soft-download-color:rgb(50,50,50);
  --nav-buttons-font-size:1.5rem;
  --nav-lang-font-size:1.3rem;
  --soft-nav-color:rgba(50,50,50,.2);
  --soft-grey-color:rgba(128,128,128,.5);
  --tab-grey-color:rgb(125,125,125);
  --default-simple-color:rgb(255,255,255);
  --darken-simple-color:rgb(230,230,230);
  --buy-sections-font-size:1.3rem;
  --half-white-color:rgba(255,255,255,1);
  --black-bg-color:rgba(0,0,0,.5);
  --border-size:.15rem;
  --news-font-size:1.2rem;
  --header-size:9rem;
}

html[data-dark-theme="true"]{
  --secondary-color:rgb(255,255,255);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background-color:var(--secondary-color);
}
html,
body {
  min-width: 100vw;
  min-height:100vh;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
}
p{
  user-select: none;
}
button{
  cursor: pointer;
  border: none;
}
main{
  display: flex;
  width: 100vw;
  height: calc(100vh - var(--header-size));
}

@media screen and (orientation:portrait) and (max-width:1370px){
  :root{
    --border-size:.35rem;
    --nav-lang-font-size:3.5rem;
    --buy-sections-font-size:3rem;
    --nav-buttons-font-size:4rem;
    --header-size:18rem;
    --news-font-size:3.2rem;
  }
}

@media (min-width:1921px) and (max-width:2440px){
  html{
   font-size: 18px;
  }
}
@media (max-width:1920px) and (min-width:1690px){
   html{
    font-size: 16px;
   }
}
@media (max-width:1689px) and (min-width:1551px){
  html{
   font-size: 15px;
  }
}
@media (max-width:1550px) and (min-width:1451px){
  html{
   font-size: 14px;
  }
}
@media (max-width:1450px) and (min-width:1351px){
  html{
   font-size: 13px;
  }
}
@media (max-width:1350px) and (min-width:1251px){
  html{
   font-size: 12px;
  }
}
@media (max-width:1250px) and (min-width:1151px){
  html{
   font-size: 11px;
  }
}
@media (max-width:1150px) and (min-width:1051px){
  html{
    font-size: 10px;
  }
}
@media (max-width:1050px) and (min-width:951px){
  html{
    font-size: 9px;
  }
}
@media (max-width:950px) and (min-width:851px){
  html{
    font-size: 9px;
  }
}
@media (max-width:850px) and (min-width:751px){
   html{
    font-size: 8px;
   }
}
@media (max-width:750px) and (min-width:651px){
  html{
   font-size: 7px;
  }
}
@media (max-width:650px) and (min-width:551px){
  html{
   font-size: 6px;
  }
}
@media (max-width:550px) and (min-width:451px){
  html{
   font-size: 5px;
  }
}
@media (max-width:450px) and (min-width:351px){
  html{
   font-size: 5px;
  }
}

/* @media screen and (orientation:portrait) and (max-width:1370px){
   html{
    font-size: 14px;
   }
} */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
