body{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  overflow-x: hidden;
}
*{
  box-sizing: content-box;
  margin: 0;
}

.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("https://forums.terraria.org/index.php?attachments/31583") no-repeat center center fixed;
  background-size: cover;
}
.visitka-header{
  position: relative;
  width: 100%;
  height:25rem;
  display: flex;
  justify-content: center;
}
.visitka-header::after{
  position: absolute;
  top: 100%;
  content: '';
  width:90%;
  height:4rem;
  background-image: url('/visitka//public/wall.png');
}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.initial-block{
   position: relative;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem 0;
}
.initial-block[data-text-block]{
  flex-direction: column;
}
.header-avatar{
  position: relative;
  width: 25rem;
  height:22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header-avatar  img{
  width: 80%;
  height:90%;
  object-fit: cover;
  transition: all .2s;
}

.header-avatar::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url('../visitka/public/avatar-border.webp') no-repeat center center;
  background-size:contain;
  overflow: hidden;
}
.visitka-text{
  width:90%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 5rem;
  background: url('/visitka//public/pixel\ name.png') no-repeat center center fixed;
  background-size:70% 100%;
  animation: text-shake 3s ease-in-out infinite;
}
.visitka-text[data-sub-text]{
  animation: none;
  background: url('/visitka//public/visitka-sub-info.png') no-repeat center center;
  background-size: 80% 80%;
}

.visitka-main{
  position: relative;
  width: 100%;
  height: calc(100% - 12rem);
  display: flex;
}

.visitka-footer{
  position: relative;
  top:100%;
  width: 100%;
  height:3rem;
  display: flex;
}

@keyframes text-shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width:1920px){
   html{
     font-size: 18px;
   }
}
@media (max-width:1919px) and (min-width:1851px){
  html{
    font-size: 17px;
  }
}
@media (max-width:1850px) and (min-width:1751px){
  html{
    font-size: 16px;
  }
}
@media (max-width:1750px) and (min-width:1651px){
  html{
    font-size: 15px;
  }
}
@media (max-width:1650px) and (min-width:1551px){
  html{
    font-size: 14px;
  }
}
@media (max-width:1550px) and (min-width:1451px){
  html{
    font-size: 13px;
  }
}
@media (max-width:1450px) and (min-width:1351px){
  html{
    font-size: 12px;
  }
}
@media (max-width:1350px) and (min-width:1251px){
  html{
    font-size: 11px;
  }
}
@media (max-width:1250px) and (min-width:1151px){
  html{
    font-size: 10px;
  }
}
@media (max-width:1150px) and (min-width:1051px){
  html{
    font-size: 9px;
  }
}
@media (max-width:1050px) and (min-width:950px){
  html{
    font-size: 8px;
  }
}